<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/viewscholarship.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83a5d93f3e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main1">
        <div class="nav">
            <div id="container">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Student Services</a>
                        <!-- First Tier Drop Down -->
                        <ul>
                            <li><a href="#">Career Guidance</a></li>
                            <li><a href="#">Career Assesment test</a></li>
                            <li><a href="#">NTSE Preparation</a></li>
                            <li><a href="#">International Educational Loan</a></li>
                            <li><a href="#">Academy courses</a></li>
                        </ul>        
                        </li>
                        <li><a href="#">Scholarship</a>
                        <ul>
                            <li><a href="/allcourses">All Scholarships</a>
                            <ul>
                                <li><a href="/allcourses">All Scholarships</a></li>
                                <li><a href="#">Live application form</a></li>
                                <li><a href="#">Other</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Category</a>
                                <ul>
                                    <li><a href="/allcourses/st-sc-obc">ST/SC/OBC</a></li>
                                    <li><a href="/allcourses/minority">Minority</a></li>
                                    <li><a href="/allcourses/girls">Girls</a></li>
                                    <li><a href="/allcourses/physically-disabled">Physically Disabled</a></li>
                                </ul>
                            </li>
                            <li><a href="#">State</a>
                                <ul>
                                    <li><a href="/subcourses/international">International</a></li>
                                    <li><a href="/subcourses/allindia">All India</a></li>
                                    <li><a href="/allcourses/west-bengal">West Bengal</a></li>
                                    <li><a href="/allcourses/uttar-pradesh">Uttar Pradesh</a></li>
                                    <li><a href="/allcourses/bihar">Bihar</a></li>
                                    <li><a href="/allcourses/madhya-pradesh">Madhya Pradesh</a></li>
                                    <li><a href="/allcourses/andhra-pradesh">Andhra Pradesh</a></li>
                                    <li><a href="/allcourses/maharashtra">Maharashtra</a></li>
                                    <li><a href="/allcourses/karnataka">Karnataka</a></li>
                                    <li><a href="/allcourses/rajasthan">Rajasthan</a></li>
                                    <li><a href="/allcourses/gujarat">Gujarat</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Current class</a>
                                <ul>
                                    <li><a href="/allcourses/c1-10">Class 1 to 10</a></li>
                                    <li><a href="/allcourses/c11-12">Class 11 & 12</a></li>
                                    <li><a href="/allcourses/polytechnic-diploma-iti">Polytechnic/Diploma/ITI</a></li>
                                    <li><a href="/allcourses/graduation">Graduation</a></li>
                                    <li><a href="/allcourses/post-graduation">Post Graduation</a></li>
                                    <li><a href="/allcourses/phd-postal-doctral">PhD/Post Doctral</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Type</a>
                                <ul>
                                    <li><a href="/allcourses/merit-based">Merit Based</a></li>
                                    <li><a href="/allcourses/income-based">Income Based</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">International</a>

                                <ul>
                                    <li><a href="/allcourses/united-states">United States</a></li>
                                    <li><a href="/allcourses/australia">Australia</a></li>
                                    <li><a href="/allcourses/new-zealand"></a>New-Zealand</li>
                                    <li><a href="/allcourses/canada">Canada</a></li>
                                    <li><a href="/allcourses/malaysia">Malaysia</a></li>
                                    <li><a href="/allcourses/united-kingdom">United-Kingdom</a></li>
                                    <li><a href="/allcourses/france">France</a></li>
                                    <li><a href="/allcourses/germany">Germany</a></li>
                                    <li><a href="/allcourses/ireland">Ireland</a></li>

                                    <li><a href="/subcourses/international"><u>view more</u></a></li>
                                </ul>
                            </li>
                            <li><a href="#">Government</a>
                                <ul>
                                    <li><a href="/allcourses/nspnatioanalmeanscummeritscholarshipsscheme">nsp-natioanal-means-cum-merit-scholarships-scheme</a></li>
                                    <li><a href="/allcourses/nsppostmatricscholarshipsschemeforminorities">nsp-post-matric-scholarships-scheme-for-minorities</a></li>
                                    <li><a href="/allcourses/nspprematricscholarshipsschemeforminorities">nsp-pre-matric-scholarships-scheme-for-minorities</a></li>
                                    <li><a href="/allcourses/nspcentralsectorschemeofscholarshipforcollege">nsp-central-sector-scheme-of-scholarship-for-college</a></li>
                                    <li><a href="/allcourses/nsptopclasseducationforscstudents">nsp-top-class-education-for-sc-students</a></li>
                                    <li><a href="/allcourses/specialscholarshipschemeishanudayforner">special-scholarship-scheme-ishan-uday-for-ner</a></li>
                                    <li><a href="/allcourses/postgraduateindiragandhischolarshipforsinglegirlchild">post-graduate-indira-gandhi-scholarship-for-single-girl-child</a></li>
                                    <li><a href="/allcourses/postgraduatemeritscholarshipforuniversityrankholders">post-graduate-merit-scholarship-for-university-rank-holders</a></li>
                                    <li><a href="/subcourses/government"><u>view more</u></a></li>
                                    

                                </ul>
                           

                           
                            </li>
                        </ul>
                        </li>
                        <!-- twist is here -->
                        
                            <li><a href="/myprofile"><%= userdata.username %></a>
                                <ul>
                                    <li> <a href="/myprofile/personal-info">My Profile</a></li>
                                    <li> <a href="/myprofile/matched-scholarships">Matched Scholarships</a></li>
                                    <li> <a href="/myprofile/application-status">Applied Scholarships</a></li>
                                    <li> <a href="/myprofile/awardees-scholarships">Awarded Scholarships</a></li>
                                    <li> <a href="/myprofile/my-favorites">My Favorites</a></li>
                                    <li> <a href="/myprofile/awards">Awards &amp; Achievements</a></li>
                                    <li> <a href="/myprofile/questions-and-answers">Questions &amp; Answers</a></li>
                                    <li> <a href="/logout">Log Out</a></li>
                                </ul>
                            </li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="top">
        <div class="left">
            <div class="logo"> <img src="/images/img.JPG" alt="logo"></div>
            <h1><%= data.heading %></h1>
        </div>
        <div class="right">
            <button ><a href="<%= data.link %>">Apply Now</a> </button>
            <button>Follow</button>
        </div>   
    </div>
    <div class="nav1">
        <a href="#">About Program</a>
        <a href="#">Fellowship</a>
        <a href="#">Q & A</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="links">
        <div class="link-l">
            <a href="/">Home</a><i class="ri-arrow-right-s-line"></i><a href="/allcourses">Scholarships</a><i class="ri-arrow-right-s-line"></i><a id="inactive" href="#"><%= data.heading %></a>
        </div>
        <div class="link-r">
            <i class="ri-facebook-fill"></i>
            <i class="ri-instagram-fill"></i>
            <i class="ri-twitter-fill"></i>
            <i class="ri-whatsapp-fill"></i>
        </div>
        </div>
        <div class="details">
            <div class="section">
                <i class="fa-solid fa-graduation-cap"></i>
                    <h1>Eligibility</h1>
                    <p><%=data.eligibilityCard %> </p>
            </div>
            <div class="section"><i class="fa-solid fa-globe-stand"></i>
                <i class="fa-solid fa-trophy"></i>
                    <h1>Region</h1>
                    <p><%=data.region %></p>
            </div>
            <div class="section">
                <i class="fa-solid fa-trophy"></i>
                    <h1>Award</h1>
                    <p><%=data.value %> per month</p>
            </div>
            <div class="section">
                <i class="fa-solid fa-trophy"></i>
                    <h1>Deadline</h1>
                    <p><%=data.deadline %></p>
            </div>
        </div>
        <div class="abt">
            <h1>About the program</h1>
            <p><%=data.about %></p>
        </div>
        <div class="box">
            <h1>Scholarship name - <%=data.heading %></h1>
            <div class="desc">
                <h2>Eligibility <br><span>To be eligible, an applicant must -</span></h2>
                <ul>
                    <% data.eligibilityPage.forEach(function(val){ %>
                        <li> <%= val %></li>
                   <% }) %>
                    
                </ul>
    
                <h2>Desirable Qualifications - </h2>
                <ul>
                    <% data.desirableQualifications.forEach(function(val){ %>
                        <li> <%= val %></li>
                   <% }) %>
                </ul>
    
                <h2>Benefits</h2>
                <ul>
                    <% data.benifits.forEach(function(val){ %>
                        <li> <%= val %></li>
                   <% }) %>
                </ul>
    
                <h2>Documents</h2>
                <ul>
                    <% data.documents.forEach(function(val){ %>
                        <li> <%= val %></li>
                   <% }) %>
                </ul>
                <h2>How can you apply?</h2>
                <h3>Eligible candidates can apply for the associateship by following the steps mentioned below:</h3>
                <ul>
                    <li>
                        Step 1: Click on the "Apply Now" button below and read all the details carefully. 
                    </li>
                    <li>
                        Step 2: Submit the curriculum vitae (CV) to the below mentioned address latest by 16th April 2022, by 1 PM - 
                    </li>
                </ul>
                   
                   <h4>
                    Room No. - 4035, 4h Floor, <br>
                    Department of Pharmacology, <br>
                    PN Chuttani Block, <br>
                    PGIMER, Chandigarh</h4>
                     
                    
                    <!-- <p><i>Note</i> - The candidates are required to appear for an interview (with original testimonials) in the office of the undersigned on 18th April 2022 at 10 AM. -->
                         <!-- </p> -->
                         <a href="<%= data.link %>">APPLY NOW</a> 
            </div>
            
        </div>
        <div class="imp">
            <h1>Important Dates</h1>
            <p><b>Application Deadline -</b><%= data.deadline %></p>

            <h1>Selection Criteria</h1>
            <p>The selection will be based on the applicant's qualification, experience, and performance in the interview. </p>

            

            <h1>Terms and Conditions</h1>
            <ul>
                <li>The selected candidates would be informed by email or phone.
                <li> No TA/DA will be paid for attending the interview.</li>
                <li>In case the number of eligible candidates exceeds thirty, then a screening test would be held on the same day and further information would be put on Notice Board & PGI website.</li>
            </li>
            </ul>

            <h1>Contact Us</h1>
            <div class="box1">
                <p>Room no. 4035, 4h Floor<br>
                    Department of Pharmacology,<br>
                    PN Chuttani Block,<br>
                    Postgraduate Institute of Medical Education And Research (PGIMER), Chandigarh</p>
            </div>
            
            <h1>Important Links</h1>
            
            <a href="<%= data.weblink %>">Original Website</a>
            <a href="<%= data.link %>">Apply Online link</a>

        </div>
    </div>
</body>
</html>